# Ignore the entire game directory
/DarkestDungeon/

# Ignore the Stable Diffusion checkpoint
/Stochastic_Trinkets/fantassifiedIcons_fantassifiedIconsV20.safetensors

# Ignore the generated content
/Stochastic_Trinkets/modded_trinket_images/
/Stochastic_Trinkets/mod/

# Ignore the vanilla backup files
/Stochastic_Trinkets/vanilla_backup/

# Ignore large files
*.mp4
*.wav
*.psd

# Ignore build artifacts
*.log
*.tmp