# Ignore the entire game directory
/DarkestDungeon/

# Ignore the Stable Diffusion checkpoint
/Stochastic_Trinkets/fantassifiedIcons_fantassifiedIconsV20.safetensors

# Ignore large files
*.mp4
*.wav
*.psd

# Ignore build artifacts
*.log
*.tmp