# Ignore the entire game directory
/DarkestDungeon/

# Ignore the Stable Diffusion checkpoint
/Stochastic_Trinkets/fantassifiedIcons_fantassifiedIconsV20.safetensors

# Ignore the generated content
/Stochastic_Trinkets/modded_trinket_entries.json
/Stochastic_Trinkets/modded_buffs.json
/Stochastic_Trinkets/modded_trinket_images/

# Ignore large files
*.mp4
*.wav
*.psd

# Ignore build artifacts
*.log
*.tmp